body {
    background-color:rgb(218, 165, 32);
    color: rgb(47, 0, 255);
    font-family: Jacquard 12;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color:rgb(116, 179, 255);
    color: rgb(255, 146, 146);
    font-family: Jacquard 12;
}

.passo {
    display:none;
}

.passo-ativo {
    display:block;
}

main {
     max-width: 90%;
}
